/*Formato de las cajas de alquiler*/
#contenedor-caja {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}
.caja {
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    transition: transform 0.2s;
}

.caja:hover {
    transform: scale(1.05);
}
.caja h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.caja img {
    width: 200px;
    height: auto;
}
.precio {
    font-size: 16px;
    font-weight: bold;
    color: green;
    margin-top: 10px;
}