* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    --sb-track-color: #a5a5a8;
    --sb-thumb-color: #04407b;
    --sb-size: 14px;
    background-color: #f0f0f0;
    /* Fondo general */
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Contenedores */
.container {
    margin: 0 10%;
}

/* Botón de registrar */
.registrar-btn a {
    background-color: #a5a5a8;
    color: #04407b;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registrar-btn a:hover {
    background-color: #1E75BB;
    color: #ffffff;
}

/* Bienvenida */
.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Presentación */
.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 50px 40px;
    color: #000000;
    font-size: 30px;
    line-height: 1.6;
}

/* Slider */
.slider-frame {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slide-images {
    display: flex;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.img-container {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Botones de navegación */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Animaciones de texto */
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #2b1870 0%, #44107a 29%, #757575 67%, #525252 100%);
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


/* Media Queries para Responsividad */


@media (max-width: 320px) {
    body {
        font-size: 14px;
        
    }

    .animate-charcter {
        font-size: 25px;
       
    }

    .presentacion {
        font-size: 5px;
       
        margin: 0 10px;
        
    }

    .slider-frame {
        height: 200px;
        
    }

    .slider-frame img {
        object-fit: cover;
        
    }

    .navbar .hamburger {
        display: block;
    }
}


@media (max-width: 576px) {
    .animate-charcter {
        font-size: 30px;
        
    }

    .presentacion {
        font-size: 10px !important;
        margin: 0 20px !important;
        
    }

    table {
        width: 100%;
        
    }

}


@media (max-width: 768px) {
    .animate-charcter {
        font-size: 35px;
        
    }

    .presentacion {
        font-size: 20px !important;
    }

    .slider-frame {
        height: auto;
        
    }

}


@media (max-width: 992px) {
    .animate-charcter {
        font-size: 40px;
        
    }

    .presentacion {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    .presentacion {
        font-size: 30px; 
        margin: 50px 50px; 
    }
}