
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #425359;
    display: flex;
    align-items: center;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
    background-color: #ffffff;
    width: 450px;
    height: 67px;
    padding: 10px 20px;
    margin-left: -10px;
    margin-right: 40px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.logo img {
    width: 80px;
    margin-right: 10px;
}

.logo h1 { 
    font-size: 25px;
    font-weight: bold;
    color: #04407b; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.logo h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px; 
    background-color: #a5a5a8;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin-left: 40px ;
    padding: 15px 0px 15px 25px;
    height: 52px;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0 0 0 50%;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li a:hover {
    color: #1E75BB;
}

nav ul li a.active {
    color: #aac5cd;
}

.registrar-btn a {
    background-color: #a5a5a8;
    color: #04407b;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registrar-btn a:hover {
    background-color: #1E75BB;
    color: #ffffff;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .bienvenida {
        font-size: 28px;
    }

    .presentacion {
        font-size: 18px;
        margin: 0 20px;
    }
}

@media (max-width: 480px) {
    nav ul {
        gap: 10px;
        font-size: 16px;
    }

    .registrar-btn a {
        font-size: 16px;
        padding: 5px 10px;
    }

    .bienvenida {
        font-size: 22px;
    }

    .presentacion {
        font-size: 16px;
        margin: 0 10px;
    }
}