
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

}

main > h1 {
    color: #04407b;
    font-size: 32px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.solicitud {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.formulario {
    padding: 20px;
}

.datos-generales {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.formulario p {
    color: #04407b;
    font-weight: bold;
    margin: 10px 0;
}

#txtMonto {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1c1b18;
    color: white;
}

#txtDescripcion {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1c1b18;
    color: white;
    height: 120px;
    resize: none;
}

input[type="button"] {
    background-color: #04407b;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
    width: auto;
}

input[type="button"]:hover {
    background-color: #035aa8;
}


/* Responsive adjustments */
@media (max-width: 768px) {

    .solicitud {
        width: 95%;
        padding: 15px;
    }
}
.registrar-btn a {
    background-color: #a5a5a8;
    color: #04407b;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registrar-btn a:hover {
    background-color: #1E75BB;
    color: #ffffff;
}

