html body{
    width: 100%;
    height: 100%;
}


.contenedor{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 3% 0;
}

.informacion{
    max-width: 40%;
}

/**/
.informacion, .detalles{
    width: 100%;
    height: 100%;
    display: grid;
}

.poligono{
    clip-path: polygon(0 100%, 80% 100%, 100% 50%, 80% 0%, 0 0); /*Ya no se preocupen, por fin aprendí a hacerlo :3*/
    background-color: #88898d;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
}

.poligono div{
    display: flex;
    align-items: center;
    gap: 10%;
}



.icono{
    max-width: 85px;
    width: 100%;
    margin: 0 0 0 5%;
}

/*Boton de Pujar*/
.pujar{
    height: 50%;
    padding: 0 5%;
}

.imagen{
    width: 100%;
    padding: 3%;
}

#imgAuto{
    display: flex;
    width: 100%;
    max-width: 90%;
    text-align: center;
}

/*Parte inferior de Detalles*/
.info{
    display: flex;
    justify-content: space-between;
}

#inputPuja{
    height: 25px;
    align-self: center;
    border-radius: 15px;
    padding: 0 15px ;
}

/* Borrar las flechas de los números en el input (Chrome, opera, edge) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

/* Borrar las flechas de los números en el input (FireFox) */
input[type=number] {
    -moz-appearance: textfield;
  }

#info{
    display: flex;
    justify-content: center;
}

#btnPujar{
    justify-content: center;
    width: 150px;
    height: 30px;
    background-color: #1E75BB;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
}

@media(max-width: 1024px){
    .icono{
        max-width: 25%;
        width: 100%;
    }
    .poligono div{
        flex-wrap: wrap;
    }
    
    .poligono{
        padding: 0 15% 0 0;
    }
}

@media(max-width: 768px){
    .contenedor{
        flex-direction: column;
    }

    .imagen{
        padding: 0;
    }

    .informacion{
        max-width: 100%;
    }

    .info{
        justify-content: center;
        gap: 20%;
    }
    
    .pujar{
        text-align: center;
    }

    .icono{
        max-width: 10%;
    }
}

@media (max-width: 587px) {
    .icono{
        max-width: 16%;
        width: 100%;
    }

    .poligono{
        margin: 0;
    }
}