body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#004a8f;
    clip-path: polygon(64% 100%, 78% 0, 100% 0, 100% 100%, 77% 100%, 91% 0, 88% 0, 74% 100%);
    z-index: -1;
}

.especificaciones-container {
    align-items: center;
    display: flex;
    margin-top: 100px;
    width: 500px;
    height: 250px;
    margin-left: 825px;
    background-color: #88898d;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%)
}

.fotoAuto {
    width: 550px;
    display: flex;
    margin-top: -325px ;
    margin-left: 30px;
    margin-bottom: 10px;
}

.fotoAuto img {
    margin-left: 15%;
    width: 700px;
    height: 350px;
}

.especificaciones {
    margin-right: 20px;
    flex-direction: column;
    padding: 20px;
    width: 300px;
}
.especificacion-item {
    margin-bottom: 10px;
    margin-top: 15px;
    display: flex; /* Alinear elementos en una fila */
    align-items: center; /* Centrar verticalmente */
    gap: 35px; /* Espacio entre la imagen y el texto */
}

.especificacion-img {
    margin-left: 30px;
    width: 45px;
    height: auto;
}

.especificacion-texto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #ffffff;
}

/* Ajustar el contenedor que contiene el título y el texto */
.especificacion-contenido {
    display: flex;
    flex-direction: column; /* Alinear el título y texto en columna */
}



.especificacion-titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0; /* Quita margen por defecto */
    color: black; /* Color del título */
    font-style: oblique;
}


.detalleAuto h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -20px;
    margin-left: 15%;
    font-size: 50px;
    color: #333;
}

/* Estilo para la sección de compra */
.compra {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.precio-compra {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    color: green;
    margin-right: 10px;
}

.compra button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.compra button:hover {
    color:  #007bff;
    background-color: #b2b3b5;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.modal-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    background-color: #a9a9a9;
    margin: 15% auto;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid #202020;
    width: 80%;
    max-width: 400px;
    text-align: center;
}
.modal-content button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.modal-content button:hover{
    color:  #007bff;
    background-color: #515253;
}
.close-button {
    float: right;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.close-button:hover {
    color:  #007bff;
}

